@media only screen and (max-width: 768px) {
    .nav-web {
        display: none;
    }

    /* Mobile Header */
    /*menu icon*/
    .btn-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        background-color: #f9ed87;
        z-index: 1;
    }

    .btn-menu-line1 {
        display: block;
        width: 25px;
        height: 4px;
        border: 2px solid rgb(38, 25, 60);
        transition: all 0.5s ease-in-out;
        margin: 3px 0px 3px 0px;
    }

    .btn-menu-line2 {
        display: block;
        width: 25px;
        height: 4px;
        border: 2px solid rgb(38, 25, 60);
        transition: all 0.5s ease-in-out;
        margin: 3px 0px 3px 0px;
    }

    .btn-menu-line1.open {
        transform: rotate(45deg) translate(3px, 4px);
    }

    .btn-menu-line2.open {
        transform: rotate(-45deg) translate(3px, -4px);
    }

    /*menu area*/
    .nav-area {
        position: fixed;
        width: 12rem;
        border-radius: 7px 0 0 7px;
        top: 0px;
        right: 0;
        background: linear-gradient(180deg, #df7c88 0%, #efa3c3 100%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-out;
        height: 100%;
        z-index: 0;
    }

    .nav-area.unhideMenu {
        opacity: 1;
        visibility: visible;
        transition: all 0.5s ease;
    }

    .nav-item a {
        color: whitesmoke;
        border-bottom: 1px solid white;
        text-align: center;
    }

    /*introduction area*/

    .introduction p {
        font-size: 16px;
    }

    .login-mobile p {
        padding: 5px 8px;
    }
    
    .login-mobile {
        border-radius: 27.5px;
        background: transparent;
        border: solid 2px #ffffff;
        color: #ffffff;
        width: 50%;
        margin-left: 3rem;
    }
    
    .login-mobile:hover {
        border: solid 2px #f9ed87;
        color: #f9ed87;
        background: transparent;
    }
}