.card.t1 {
    z-index: 7;
    transition: all .5s ease-in-out;
    transition-delay: .0001s;
    opacity: 1;
    transform: translate(0, 0) scale(1)
}

.card.t2 {
    transition: all .5s ease-in-out;
    transition-delay: .025s;
    z-index: 6;
    opacity: 1;
    transform: translate(0, -30%) scale(0.8)
}

.card.t2-alt {
    transition: all .5s ease-in-out;
    transition-delay: .025s;
    z-index: 6;
    opacity: 1;
    transform: translate(0, 30%) scale(0.8)
}

.card.t3 {
    transition: all .5s ease-in-out;
    transition-delay: .025s;
    z-index: 5;
    opacity: 1;
    transform: translate(0, -55%) scale(0.7)
}

.card.t3-alt {
    transition: all .5s ease-in-out;
    transition-delay: .025s;
    z-index: 5;
    opacity: 1;
    transform: translate(0, 55%) scale(0.7)
}

.card.t4 {
    transition: all .5s ease-in-out;
    transition-delay: .025s;
    z-index: 4;
    opacity: 1;
    transform: translate(0, -75%) scale(0.56)
}

.card.t4-alt {
    transition: all .5s ease-in-out;
    transition-delay: .025s;
    z-index: 4;
    opacity: 1;
    transform: translate(0, 75%) scale(0.56)
}

.card {
    transition: all .2s ease-in;
    opacity: 0;
    transform: scale(0.2);
}

#indicator,
.bullet-timeline {
    transition: all .4s ease-in-out;
}

.timeline-heading {
    font-family: 'Excluded', sans-serif;
    font-weight: 800;
    font-size: 35px;
}