@import url('http://fonts.cdnfonts.com/css/excluded');
@import url('http://fonts.cdnfonts.com/css/fredoka-one');

#faq {
    background-color: #2A264A;
    background-image: url('../Asset/Sprinkles/Faq\ sprinkles.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Excluded', sans-serif;
}

#faq .faq-text {
    font-size: 60px;
    font-weight: 400;
}

#faq .accordion-collapse {
    border: 0;
}

#faq .accordion-button {
    padding: 0px;
    border: 0;
    font-size: 30px;
    font-weight: 500;
    color: #333333;
    text-align: left;
    background-color: #FFF9F9;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#faq .accordion-button:focus {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#faq .accordion-button:not(.collapsed) {
    background: none;
    border: none;
    color: #DF7C88;
}

#faq .accordion-body {
    background-color: #FFF9F9;
    font-family: 'Fredoka One', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

#faq .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg clip-rule='evenodd' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 11h-7.25c-.414 0-.75.336-.75.75s.336.75.75.75h7.25v7.25c0 .414.336.75.75.75s.75-.336.75-.75v-7.25h7.25c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-7.25v-7.25c0-.414-.336-.75-.75-.75s-.75.336-.75.75z' fill-rule='nonzero'/%3E%3C/svg%3E");
}

#faq .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M0 12v1h23v-1h-23z'/%3E%3C/svg%3E")
}

#faq .title {
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(#F0A3C3, #DF7C88);
    border-radius: 20px 20px 0 0;
    color: white;
    font-weight: 400;
    font-size: 40px;
}

#faq .accordion-header {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FFF9F9;
    font-family: 'Fredoka One', sans-serif;
}

#faq .accordion {
    background-color: #FFF9F9;
    padding-bottom: 40px;
    border-radius: 20px;
}

#faq .mt-5 h1 {
    text-align: center;
}

#faq .line {
    height: 5px;
    width: 15%;
    background-image: linear-gradient(#F0A3C3, #DF7C88);
}

#rocket {
    background-color: #2A264A;
    background-image: url('../Asset/Sprinkles/Our\ partners\ sprinkles.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Excluded', sans-serif;
}

#rocket .partner-text{
    font-size: 60px;
    font-weight: 400;
}

#rocket .line {
    height: 5px;
    width: 45%;
    background-image: linear-gradient(#F0A3C3, #DF7C88);
}

#rocket .sponsorship {
    padding-left: 100px;
    padding-top: 200px;
}

#rocket .partner {
    text-align: right;
    padding-top: 200px;
    padding-right: 100px;
}

#rocket .powered {
    padding-top: 200px;
}

#rocket .rocket-image {
    padding: 0 !important;
    margin: 0 !important;
}

#rocket .planet {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    transform: translateX(200px);
    z-index: 0;
}

#rocket .planet-kiri {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-start;
    transform: translateX(-200px);
    z-index: 0;
}

@media(max-width: 576px) {
    #faq .faq-text {
        font-size: 45px;
    }

    #faq .title {
        font-size: 30px;
    }

    #faq .accordion-button {
        font-size: 25px;
    }

    #faq .accordion-body {
        font-size: 15px;
    }

    #rocket .partner-text {
        font-size: 45px;
    }

    #rocket .planet,
    #rocket .planet-kiri {
        display: none;
    }

    #rocket .sponsorship {
        padding-left: 0px;
        text-align: center;
    }

    #rocket .partner {
        padding-right: 0px;
        text-align: center;
    }
}

@media(min-width: 576px) {

    #rocket .planet,
    #rocket .planet-kiri {
        display: block;
    }
}